// banner

.banner {
  p samp {
    background-color: white;
    border: 1px solid #ccc;
    display: block;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 40px;
    overflow-x: scroll;
  }
}
