// forms

input[type="text"],
input[type="email"],
textarea {
  transition: all 300ms linear;
  border: 2px solid $jd19de-blue;
  background-color: $jd19de-transparent-white;
  color: $jd19de-blue;
  letter-spacing: 2px;
  margin-bottom: 5px;
  width: calc(100% - 10px);
  padding: 5px;
  &:hover,
  &:focus {
    background-color: $jd19de-blue;
    border-color: $jd19de-blue;
    color: white;
  }
}

select {
  transition: all 300ms linear;
  border: 2px solid $jd19de-blue;
  width: 100%;
  color: $jd19de-blue;
  background-color: $jd19de-transparent-white;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  option {
    font-size: 16px;
  }
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 10px;
}

input[type="submit"] {
  @include button($jd19de-blue, white, 'auto', 'normal');
  width: 100%;
}
fieldset {
    padding: 0;
	border: none;
}
.rsform-block {
	padding: 10px 40px;
}

