// home
//
// hell yeah, I know, it's a little bit messy here,
// but I don't have the time to clean all up. I like
// code that works. :-) Alex
.bloglandingpage {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: stretch;
}

.bloglandingpage .items-row {
    width: 100%;
    display: flex;
    align-items: stretch;
	.item {
		flex: 1 1 400px;
		&:nth-child(2) {
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}

.bloglandingpage .items-row .span12 {
    width: 100%;
}

.bloglandingpage .item {
    background-color: $jd19de-transparent-white;
    box-sizing: border-box;
    width: 100%;
    color: #2e2d2c;
    padding: 0px 20px 40px 20px;
    position: relative;
    height: 100%;
}

.bloglandingpage .item .item-image {
    margin: 0 -20px;
	height: 500px;
}

.bloglandingpage .item .item-image img {
    width: 100%;
    height: 100%;
    display: block;
	object-fit: cover;
}

.bloglandingpage .item h2 {
    color: $jd19de-red;
}

.bloglandingpage .item p.readmore {
    text-align: center;
    width: calc(100% - 40px);
    margin: 0px;
    position: absolute;
    bottom: 40px;
    left: 20px;
}

.btn, #bfSubmitButton {
    @include button($jd19de-red, white, 'full', 'normal');
}
.bloglandingpage .item .article-info {
    position: absolute;
    top: 0;
    left: calc(50% - 130px);
    width: 260px;
    text-align: center;
    color: $jd19de-blue;
    background: #fff;
    margin: 0px;
    padding: 9px 0px;
}

.bloglandingpage .item .article-info-term {
    display: none;
}

.bloglandingpage .item .category-name {
    margin: 0px;
}

.relevant_content_box {
    background: $jd19de-orange;
    width: 100%;
}

.relevant_content_box .image_container {
    background-color: $jd19de-orange;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background-image: url("../img/joomla_signet_gold.svg");
    background-repeat: repeat;
    background-size: 60px;
}

.relevant_content_box .image_container img {
    width: 25%;
    height: auto;
    display: block;
}

.relevant_content_box .content_container {
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
    position: relative;
}

.relevant_content_box {
    h3 {
        color: #fff;
        margin: 0;
    }
    p {
        margin: 0;
    }
    h3+p {
        @media screen and (min-width: 960px) {
            margin: 20px 0;
        }
    }
}

.relevant_content_box .button {
    @include button($jd19de-blue,
    white,
    'full',
    'normal');
}

@media screen and (min-width:768px) {
    .relevant_content_box {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .relevant_content_box .image_container,
    .relevant_content_box .content_container {
        width: 50%;
    }
    .relevant_content_box .image_container img,
    .relevant_content_box .content_container img {
        width: 40%;
    }
}

@media screen and (min-width:960px) {
    .landingpage .main-content aside .custom,
    .landingpage .relevant_content_box {
        height: 100%;
    }
    .relevant_content_box {
        position: relative;
        // display: block;
        height: auto;
    }
    .relevant_content_box .image_container,
    .relevant_content_box .content_container {
        width: 100%;
    }
    .landingpage .relevant_content_box .content_container {
        height: auto;
        padding-bottom: 90px;
    }
    .landingpage .relevant_content_box .image_container {
        min-height: 205px;
    }
    .landingpage .relevant_content_box .content_container .button {
        position: absolute;
        bottom: 40px;
        text-align: center;
        width: calc(100% - 80px);
    }
}

@media screen and (min-width:1280px) {
    .relevant_content_box .image_container {
        height: 234px;
    }
}

#top {
    &>.custom {
        margin-bottom: 60px;
    }
}

.gallery {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
        transform: rotateY(180deg);
    }
    .first_image {
        width: 33%;
        height: auto;
        margin: 0px 8.5%;
        display: block;
    }
    .second_image {
        width: 50%;
        height: auto;
        margin: 0px;
        display: block;
    }
}