// tickets
.tickettypes {
	padding: 0 20px 20px;
}
.tickettypes h1 {
    background-color: #ff5959;
	color: #fff;
    padding-left: 40px;
    margin: 0 -20px 20px -40px;
}
.tickets article {
    background: 0 none !important;
}
.tickets h2 {
    padding: 10px 20px;
    box-sizing: border-box;
    background: $jd19de-orange;
    margin-bottom: 20px !important;
    position: relative;
    z-index: 2;
    color: #fff;
}
.ticket .button {
    display: block;
    @include button($jd19de-orange, white, 'auto', 'normal');
}
.tickettypes a.ticket .ticketfee, 
.tickettypes a.ticket .ticketname {
    color: $jd19de-red;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2rem;
}
.tickets .conditions {
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
}
.tickettypes a.ticket {
    border-radius: .75rem;
    background: #fff;
	box-shadow: 10px 10px 30px #d9d9d9,-10px -10px 30px #fff;
	display: block;
	padding: 1rem;
	box-sizing: border-box;
	text-decoration: none !important;
    color: #212121 !important;
    transition: transform 330ms cubic-bezier(.855,-.41,.135,1.39);
    transform-origin: center;
    position: relative;
    max-width: 768px;
    margin: 2rem auto;
    font-weight: 400;
	text-align: center;
}
.tickets a.ticket:hover {
    background-color: lighten($jd19de-orange, 30%);
}
@media screen and (min-width: 992px) {
	.tickettypes h1 + .clearfix {
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
		display: grid;
	}
}
/* Special Tickets */
.tickettypes a.ttid4 .ticketfee,
.tickettypes a.ttid4 .ticketname,
.tickettypes a.ttid4 .ticketfee_top,
.tickettypes a.ttid5 .ticketfee,
.tickettypes a.ttid5 .ticketname,
.tickettypes a.ttid5 .ticketfee_top {
    color: $jd19de-darkblue;
}
.tickettypes a.ttid6 {
	background-color: lighten($jd19de-blue, 40%);
}
.tickettypes a.ttid6 .ticketfee,
.tickettypes a.ttid6 .ticketname {
    color: $jd19de-blue;
}

.tickets .conferenceplus {
    background-color: rgba(255, 255, 255, .95) !important;
}

.tickets .conferenceplus.item {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    h2 {
        margin: -20px;
        @media screen and (min-width: 768px) {
            margin: -50px -40px -60px -60px;
        }
    }
}

@media screen and (min-width: 768px) {
    .tickets .conditions {
        padding: 20px;
        box-sizing: border-box;
        margin: 20px 0;
    }
}

@media screen and (min-width: 960px) {
    .tickets .conditions {
        padding: 40px;
        box-sizing: border-box;
        margin: 40px 0;
    }
}

// selected ticket
.selectedticket {
    padding: 20px;
    background-color: #eee;
    border: 2px dotted #aaa;
    text-align: center;
    p strong {
        color: $jd19de-darkblue;
    }
    dl {
        dt,
        dd {
            margin: 0;
            @media screen and (min-width: 768px) {
                width: 50%;
                margin: 0 auto;
            }
        }
        dt {
            color: #999;
            margin-top: 20px;
        }
        *:nth-child(2) {
            font-size: 1.2em;
            line-height: 1.2em;
            text-transform: uppercase;
            width: 100%;
        }
    }
    #fee {
        font-weight: bold;
        color: $jd19de-red;
    }
}
