// tickets
.tickets article {
    background: 0 none !important;
    // width: calc(100% - 40px);
    // @media screen and (min-width: 768px) {
    //     width: calc(100% - 80px);
    // }
    // @media screen and (min-width: 960px) {
    //     width: 100%;
    // }
}

.tickets article div.clearfix {
    display: flex;
    // justify-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.tickets article div.clearfix:before {
    display: none;
}

.tickets h2 {
    padding: 10px 20px;
    box-sizing: border-box;
    background: $jd19de-orange;
    margin-bottom: 20px !important;
    position: relative;
    z-index: 2;
    color: #fff;
}

.tickets a.ticket {
    margin-top: 20px;
    position: relative;
    text-decoration: none !important;
    background-color: lighten($jd19de-orange, 27%);
    border: 2px dotted transparent;
    width: calc(100% - 40px);
}

.tickets a.ticket:hover {
    background-color: lighten($jd19de-orange, 18%);
    border-color: $jd19de-orange;
}

.tickets a.ticket.ttid75,
.tickets a.ticket.ttid76 {
    background-color: lighten($jd19de-blue, 27%);
    border: 2px dotted transparent;
}

.tickets a.ticket.ttid75:hover,
.tickets a.ticket.ttid76:hover {
    background-color: lighten($jd19de-blue, 18%);
    border-color: $jd19de-blue;
}

.tickets div.ticket {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    color: #212121
}

.ticket .button {
    display: block;
    @include button($jd19de-orange, white, 'auto', 'normal');
}

.ticket.ttid75 .button,
.ticket.ttid76 .button {
    @include button($jd19de-blue, white, 'auto', 'normal');
}

.ticket .ticketicon {
    height: 250px;
    background-color: $jd19de-orange;
    background-image: url("../img/joomla_signet_gold.svg");
    background-repeat: repeat;
    background-size: 40px;
    width: calc(100% + 20px);
    margin: -10px 0px 0px -10px;
    box-shadow: inset 0 0 200px darken($jd19de-orange, 10%);
}

.ticketfee_top {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: -2px;
    left: 0;
    text-align: center;
    font-weight: 700;
}

.ticketfee_top span {
    padding: 10px 30px;
    margin: 0 auto;
    background-color: white;
    display: inline-block;
}

.ticketname,
.ticketfee {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0px;
}

.ticketfee {
    color: $jd19de-red;
    margin-top: 0px;
}

.tickets .conditions {
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}


/* Speacial Tickets */

.ttid35 .ticketfee,
.ttid35 .ticketname,
.ttid35 .ticketfee_top,
.ttid36 .ticketfee,
.ttid36 .ticketname,
.ttid36 .ticketfee_top,
.ttid40 .ticketfee,
.ttid40 .ticketname,
.ttid40 .ticketfee_top,
.ttid41 .ticketfee,
.ttid41 .ticketname,
.ttid41 .ticketfee_top,
.ttid45 .ticketfee,
.ttid45 .ticketname,
.ttid45 .ticketfee_top,
.ttid46 .ticketfee,
.ttid46 .ticketname,
.ttid46 .ticketfee_top,
.ttid50 .ticketfee,
.ttid50 .ticketname,
.ttid50 .ticketfee_top,
.ttid51 .ticketfee,
.ttid51 .ticketname,
.ttid51 .ticketfee_top,
.ttid55 .ticketfee,
.ttid55 .ticketname,
.ttid55 .ticketfee_top,
.ttid56 .ticketfee,
.ttid56 .ticketname,
.ttid56 .ticketfee_top,
.ttid60 .ticketname,
.ttid60 .ticketfee_top,
.ttid60 .ticketfee,
.ttid61 .ticketname,
.ttid61 .ticketfee,
.ttid61 .ticketfee_top,
.ttid65 .ticketname,
.ttid65 .ticketfee_top,
.ttid65 .ticketfee,
.ttid66 .ticketname,
.ttid66 .ticketfee,
.ttid66 .ticketfee_top,
.ttid70 .ticketname,
.ttid70 .ticketfee_top,
.ttid70 .ticketfee,
.ttid71 .ticketname,
.ttid71 .ticketfee_top,
.ttid71 .ticketfee,
.ttid75 .ticketname,
.ttid75 .ticketfee_top,
.ttid75 .ticketfee,
.ttid76 .ticketname,
.ttid76 .ticketfee,
.ttid76 .ticketfee_top {
    // color: #D4AF37;
    color: $jd19de-darkblue;
}

.ttid35 .ticketicon,
.ttid36 .ticketicon,
.ttid40 .ticketicon,
.ttid41 .ticketicon,
.ttid45 .ticketicon,
.ttid46 .ticketicon,
.ttid50 .ticketicon,
.ttid51 .ticketicon,
.ttid55 .ticketicon,
.ttid56 .ticketicon,
.ttid60 .ticketicon,
.ttid61 .ticketicon,
.ttid65 .ticketicon,
.ttid66 .ticketicon,
.ttid70 .ticketicon,
.ttid71 .ticketicon,
.ttid75 .ticketicon,
.ttid76 .ticketicon {
    // background-color: #D4AF37;
    background-color: $jd19de-darkblue;
    background-image: url("../img/joomla_signet_darkblue.svg");
    box-shadow: inset 0 0 200px $jd19de-darkblue;
}

.tickets .conferenceplus {
    background-color: rgba(255, 255, 255, .95) !important;
}

.tickets .conferenceplus.item {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    h2 {
        margin: -20px;
        @media screen and (min-width: 768px) {
            margin: -50px -40px -60px -60px;
        }
    }
}

@media screen and (min-width: 768px) {
    .tickets a.ticket {
        width: calc(48% - 14px);
        margin-right: 20px;
    }
    .tickets a.ticket:nth-child(2n) {
        margin-right: 0px;
    }
    .tickets .conditions {
        padding: 20px;
        box-sizing: border-box;
        margin-top: 20px;
    }
    .tickets .conferenceplus.item {
        padding: 40px;
    }
}

@media screen and (min-width: 960px) {
    .tickets a.ticket {
        width: calc(32% - 14px);
    }
    .tickets a.ticket:nth-child(2n) {
        margin-right: 20px;
    }
    .tickets a.ticket:nth-child(3n) {
        margin-right: 0px;
    }
    .tickets div.ticket {
        padding: 20px;
    }
    .ticket .ticketicon {
        width: calc(100% + 40px);
        margin: -20px 0px 0px -20px;
    }
    .tickets .conditions {
        padding: 40px;
        box-sizing: border-box;
        margin-top: 40px;
    }
    .tickets .conferenceplus.item {
        padding: 40px;
        width: calc(66.6% - 10px);
    }
}

// selected ticket
.selectedticket {
    padding: 20px;
    background-color: #eee;
    border: 2px dotted #aaa;
    text-align: center;
    p strong {
        color: $jd19de-darkblue;
    }
    dl {
        dt,
        dd {
            margin: 0;
            @media screen and (min-width: 768px) {
                width: 50%;
                margin: 0 auto;
            }
        }
        dt {
            color: #999;
            margin-top: 20px;
        }
        *:nth-child(2) {
            font-size: 1.2em;
            line-height: 1.2em;
            text-transform: uppercase;
            width: 100%;
        }
    }
    #fee {
        font-weight: bold;
        color: $jd19de-red;
    }
}