// colors

$jd19de-red:                #ff5959;
$jd19de-orange:             #ffad5a;
$jd19de-blue:               #4f9da6;
$jd19de-darkblue:           #1a0841;
$jd19de-transparent-white:  rgba(255,255,255,0.95);

/* fira-sans-300 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/fira-sans-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Light'), local('FiraSans-Light'),
       url('../fonts/fira-sans-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-v10-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-v10-latin-300.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Regular'), local('FiraSans-Regular'),
       url('../fonts/fira-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-v10-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}

/* fira-sans-700 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fira-sans-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Fira Sans Bold'), local('FiraSans-Bold'),
       url('../fonts/fira-sans-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fira-sans-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fira-sans-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fira-sans-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fira-sans-v10-latin-700.svg#FiraSans') format('svg'); /* Legacy iOS */
}


// html

html {
  overflow-x: hidden;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
    overflow-x: hidden;
    color: #212121;
}

img {
    max-width: 100%;
	height: auto;
}

a {
  text-decoration: none;
  transition: 0.3s all ease;
  color: #cdcdcd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: 0;
  // text-transform: uppercase;
}

h1 {
  font-size: 2.4em;
  line-height: 2.1em;
  margin: 0;
  color: $jd19de-red;
}

h2 {
  font-size: 1.8em;
  line-height: 1.4em;
}

h3 {
  font-size: 1.8em;
  line-height: 1.4em;
}

h4 {
  font-size: 1.2em;
  line-height: 0.9em;
  margin: 0;
}

h5 {
  font-size: 1em;
  line-height: 0.9em;
}

hr {
  border: 0 none;
  border-top: 1px solid #ccc;
}

iframe {
  max-width: 100%;
  height: auto;
}

// helpers

.wrap-inside {
  max-width: 1280px;
  margin: 0 auto;
}



// gradients

@mixin gradient-red {
  background: $jd19de-red;
  background: -moz-linear-gradient(45deg, $jd19de-red 0%, #ff8787 100%);
  background: -webkit-linear-gradient(45deg, $jd19de-red 0%,#ff8787 100%);
  background: linear-gradient(45deg, $jd19de-red 0%,#ff8787 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$jd19de-red', endColorstr='#ff8787',GradientType=1 );
}

@mixin gradient-blue {
  background: $jd19de-darkblue;
  background: -moz-linear-gradient(45deg, $jd19de-darkblue 0%, $jd19de-blue 100%);
  background: -webkit-linear-gradient(45deg, $jd19de-darkblue 0%,$jd19de-blue 100%);
  background: linear-gradient(45deg, $jd19de-darkblue 0%,$jd19de-blue 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$jd19de-darkblue', endColorstr='$jd19de-blue',GradientType=1 );
}
